@keyframes feather-float {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -28px;
  }
}

.container-button-send-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  @include desktop {
    justify-content: flex-end;
  }
}

.input-border {
  border-radius: 8px;
}

.input-inline {
  @extend .input-border;

  height: 48px;
}

.feather-top-right {
  position: relative;
  animation: feather-float 3.5s ease-in-out infinite;
  animation-delay: 0s;
  transform: translate(145px, -20px);

  @include tablet {
    transform: translate(518px, -111px);
  }

  @include desktop {
    transform: translate(800px, -36px);
  }

  @include widescreen {
    transform: translate(1050px, -36px);
  }

  @include fullhd {
    transform: translate(1900px, -111px);
  }
}

.feather-bottom-right {
  position: relative;
  animation: feather-float 4s ease-in-out infinite;
  animation-delay: 1.2s;
  transform: translate(0px, 21px);

  @include tablet {
    transform: translate(300px, -6px);
  }

  @include desktop {
    transform: translate(200px, -86px);
  }

  @include widescreen {
    transform: translate(400px, -86px);
  }

  @include fullhd {
    transform: translate(550px, -80px);
  }
}

.feather-left {
  position: relative;
  animation: feather-float 3s ease-in-out infinite;
  animation-delay: 0.6s;
  transform: translate(21px, -46px);

  @include tablet {
    transform: translate(63px, -111px);
  }

  @include desktop {
    transform: translate(145px, -41px);
  }

  @include widescreen {
    transform: translate(221px, -242px);
  }

  @include fullhd {
    transform: translate(306px, -304px);
  }
}
