.title-splash-size {
  font-size: 40px;

  @include tablet {
    font-size: 72px;
  }

  @include fullhd {
    font-size: 96px;
  }
}

.splash-subtitle-container {
  max-width: 100%;
  margin-bottom: 1.5rem;

  @include tablet {
    max-width: 60%;
  }

  @include widescreen {
    max-width: 40%;
  }
}

.splash-content-size {
  font-size: 16px;

  @include tablet {
    font-size: 28px;
  }
}
