@import "./variables/initial-variables";

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@700&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

@import "bulma/sass/utilities/all";
@import "bulma/sass/base/all";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/form/all";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/helpers/all.sass";
@import "bulma/sass/grid/all.sass";

@import "./header";
@import "./splash-section";
@import "./how-we-work-section";
@import "./products-section";
@import "./work-with-us-section";
@import "./form-section";
@import "./footer";

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  //   font-weight: 400;
  //   line-height: 1.5;
  color: $dark;
  //   background-color: $light;

  @include tablet {
    font-size: 20px;
  }
}

.title.is-outfit {
  // It inherits the characteristics of Bulma's .title class. Overwrites the font-family property with 'Outfit'.
  font-family: "Outfit", sans-serif;
}

.section-padding {
  @include mobile {
    padding: 48px 16px;
  }

  @include tablet-only {
    padding: 48px 32px;
  }

  @include desktop {
    padding: 48px 50px;
  }

  @include fullhd {
    padding: 48px 240px;
  }
}

.button-flexible {
  @include mobile {
    display: flex;
    justify-content: center;
  }
}

.btn {
  height: 48px;
  width: 240px;
  border-radius: 8px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
}

.custom-btn {
  @extend .btn;

  @include tablet-only {
    height: 56px;
    width: 332px;
  }

  @include desktop {
    height: 64px;
    width: 300px;
  }

  @include widescreen {
    height: 64px;
    width: 360px;
  }

  @include fullhd {
    font-size: 24px;
  }
}

.header-btn {
  @extend .btn;

  @include desktop {
    height: 40px;
    width: 162px;
  }
}

// Divider styles

.container-falcon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.falcon-image {
  max-width: 100%;
  height: auto;
}

.container-stack-tecnologies {
  width: 100%;

  @include mobile {
    transform: translate(0px, -23px);
  }

  @include tablet {
    transform: translate(0px, -88px);
  }
}

.triangle {
  position: relative;
  background: $dark;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  border-color: $dark transparent transparent transparent;
  left: 73%;
  transform: translateX(-50%) translateY(100%);
}

.curved {
  position: relative;
  background: white;
  height: 6vh;
  border-bottom-left-radius: 50% 80%;
  border-bottom-right-radius: 50% 80%;
}
